@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* Skewed Background-Transition */

.skewed-bg-1 {
  transform: skewY(-3deg);
  margin-top: -80px;
}

/* Custom Scrollbar (Chrome ONLY) */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ABD100;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(141, 195, 219, 1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ABD100;
}

/* Carousel customization  */

@media only screen and (max-width: 576px) {
  .slick-slide:not(.slick-center) {
    transform: scale(.4) !important;
  }
}

.slick-slide:not(.slick-center) {
  transform: scale(.6);
  opacity: .4;
  transition: .6s ease-in;
}

.slick-center {
  transition: .6s ease-in;
}

.slick-slider * {
  outline: none;
  z-index: 1;
}

.fa-angle-left {
  position: absolute;
  top: 50%;
  left: -20px;
}

.fa-angle-right {
  position: absolute;
  top: 50%;
  right: -20px;
}

.fa-angle-left:hover {
  cursor: pointer;
}

.fa-angle-right:hover {
  cursor: pointer;
}

/* Accordion styles */

.accordion__item {
  position: relative;
}

.accordion__arrow {
}

.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion__item--has-icon {
  position: relative;
}

.accordion__title {
  color: #ffffff;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  text-align: center;
  outline: none;
}

.accordion__title:hover {
  background-color: rgba(141, 195, 219, .75);
}

.accordion__body {
  background-color: rgba(141, 195, 219, .75);
  color: #ffffff;
  padding: 1em;
  display: block;
  animation: fadein 0.35s ease-in;
  text-align: center;
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
  animation: fadein 0.35s ease-in;
}

.accordion__title>*:last-child, .accordion__body>*:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

.accordion__arrow::after, .accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::before, .accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */

/* ---------------- Animation part ------------------ */

/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}